<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments.html :: headers}"></th:block>
    <link rel="stylesheet" href="main.css">
</head>
<body>
<div class="container">
    <div th:replace="~{fragments.html :: forum-header}"></div>

    <div class="main-content">
        <table class="forum-table">
            <thead>
                <tr>
                    <th>TEMATY</th>
                    <th>ODPOWIEDZI</th>
                    <th>ODSŁONY</th>
                    <th>OSTATNI POST</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="topic : ${topics}">
                    <td>
                        <strong>
                            <a th:href="@{/topics/{id}(id=${topic.id})}" th:text="${topic.title}"></a>
                        </strong><br>
                        <span class="author"> Autor: <span th:text="${topic.author}"></span>
                            <span th:text="${topic.formattedDate}"></span></span>
                    </td>
                    <td th:text="${posts.get(topic.id) != null ? posts.get(topic.id).size() : 0}"></td>
                    <td>0</td>
                    <td class="last-post">
                        <span th:if="${posts.get(topic.id) != null && posts.get(topic.id).size() > 0}">
                            Autor: <span th:text="${posts.get(topic.id).get(posts.get(topic.id).size()-1).author}"></span>
                            Data: <span th:text="${posts.get(topic.id).get(posts.get(topic.id).size()-1).formattedDate}"></span>
                        </span>
                        <span th:if="${posts.get(topic.id) == null || posts.get(topic.id).size() == 0}">Brak postów</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
